
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.home h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.btn-grp{
    display: flex;
    margin: 50px 0;
}
.btn-grp .btn{
    border-radius: 40px;
    color: #fff;
    padding: 15px 30px;
    margin: 0 20px;
    background: linear-gradient(to right, #FFD662FF,#00539CFF);
    border: 2px solid blue;
}
.btn-grp .btn-2{
    /* background: linear-gradient(45deg, rgb(255,1,200), rgb(255,35,6)); */
    background: linear-gradient(to left, #FFD662FF,#00539CFF);
    border: 2px solid rgb(255, 0, 179);
}
.btn:hover{
    background:  transparent;
}
svg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.contacts-container
{
    
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
   
}
.contact-left
{
    flex-basis: 40%;
    
}
.contact-right
{
    flex-basis: 50%;
}
.contact-right img{
    width: 100%;
}
.contact-left h1{
    font-size: 3em;
	margin-bottom: 10px;
}
.contact-left p
{
    line-height: 2.2em;
  
    color: #000;
}
.contact-left h1 span
{
   color: #00539CFF;
}
.contact-left a
{
    
	text-decoration: none;
	background: #00539CFF;
	color: #FFD662FF;
	padding: 10px 20px;
	border-radius: 8px;

}
.contact-icon{
    margin-top: 3em;
}
.contact-icon i{
    padding: 15px;
	font-size: 2em;
	color: #232323;
	cursor: pointer;
	transition: 0.4s;
}
.contact-icon i:hover{
    background: #00539CFF;
	color: #FFD662FF;
	border-radius: 50%;
}

.contact-icon i:last-child{
	background: #00539CFF;
	color: #FFD662FF;
	border-radius: 50%;	
}
@media only screen and (max-width: 770px){

	.contacts-container{
		text-align: center;
		padding: 20px 40px;
		flex-direction: column-reverse;
	}
.contact-left{
	flex-basis: 100%;
}
.contact-right{
	flex-basis: 100%;
}
}

