
body {
	font-family: Alegreya Sans;
  font-size: 16px;
}

.adjusted-header-center{
	align-content:center;
	width: calc(1000px);
	margin-left: auto;
	margin-right: auto;	
}



   .bg-brochers-img{
   	
   	background-image: url("Mask%20Group%206.html");
  	min-height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
	position: relative;
	/*background-size: 100% 100%;*/
   }


   #brochures-main-menus .nav-link {
   	/*padding: 10px; */
   	padding-left: 0px !important;
   	padding-top: 5px;
   	padding-bottom: 5px;
   	padding-right: 0px;
    width: 100%;
   }

   #brochures-main-menus .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   	color: rgba(22,87,40,1);
   	background-color: rgba(208,221,212,1);
   }

/*   #brochures-main-menus  .nav-link:focus, .nav-link:hover {
   	color: rgba(22,87,40,1);
   	border-bottom: 2px solid rgba(22,87,40,1);
   }*/

   #brochures-main-menus .nav-pills .nav-link {
   	border-radius: 0px !important;
   }

   #brochures-main-menus .nav-item {
   	padding: 8px;
   }

   #brochures-main-menus .active {
   	   	color: rgba(22,87,40,1);
   	border-bottom: 2px solid rgba(22,87,40,1);
   }

    #brochures-main-menus .tab-content .active {
   	   	/*color: rgba(22,87,40,1);*/
   	border-bottom: 0px !important;
   }

   .brochure-text {

    color: black;
    padding-left: 14px;
    border-left: 3px solid rgba(22,87,40,1);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;

   }

   #left-brochure-nav-bar .nav-link {
    text-align: left;
    color: grey !important;
    font-size : 14px;
    padding: 12px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 100 !important;
    letter-spacing: 1px;
   }
   #left-brochure-nav-bar > .nav {
    filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.161));
    background :white; 
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 6px solid rgba(22,87,40,1);
    border-radius: 5px;
    padding-right: 38px;
   }
   
   #left-brochure-nav-bar .align-items-start {
    margin-top: 55px;
   }

   #left-brochure-nav-bar .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgba(22,87,40,1) !important;
    font-weight: bold !important;
   }

   #left-brochure-nav-bar {
    margin-bottom: 50px;
   }

    

  #left-brochure-nav-bar .nav-link:hover {
    color: rgba(22,87,40,1) !important;
    border-bottom: none;
    font-weight: bold !important;
   }

   #left-brochure-nav-bar .active #next_arrow{
    display: block;
    position: absolute;
    right: 16px;
    height: 12px;
    margin-top: 3px;
    top:16px;
    right: -19px;
   }

   #next_arrow {
    position: absolute;
    right: 16px;
    height: 12px;
    margin-top: 3px;
    display: none;
   }

   .green-squares {
    /*width: 100%;*/
    background-color: rgba(22,87,40,1);
    border-radius: 6px;
    margin-left: 10px;
    /*margin-right:  10px;*/
    padding: 22px;
    color:white;
    font-size: 14px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    height: 100px;
    display: block;
   }

   .icon1 {
       /*background-image: url("open-book.png");*/
/*    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;*/
    position: absolute; 
    /*top: 6px;*/
    width: 68px;
    opacity: 0.14;
    top: 14px;
    left: 0px;
    right: 0px;
    margin:auto;
   }

   .grey-squares {
    background-color: rgba(208,221,212,1);
    border-radius: 6px;
    padding: 22px;
    margin-left: 10px;
    /*margin-right:  10px;*/
    color:black;
    font-size: 14px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    height: 100px;
   }

   .year-text {
    position: absolute;
    /*margin-left: -38px;*/
    margin-top: 15px;
    font-size: 18px;
    left: 0;
    right: 0;
   }

   .history-text {
    color: black;
    font-size: 16px;
    line-height: 40px;
    font-family: Alegreya Sans;
   }

   .card-text {
    font-size: 21px;
    font-weight: 600;
    font-family: Alegreya Sans;
    padding-bottom: 10px;
   }

   .card-desc {
    font-family: Alegreya Sans;
    padding-bottom: 30px;
   }

   .card-read-more {
    font-family: Alegreya Sans;
    font-size: 14px;
    text-decoration: underline;
    text-align: right;
   }

   .main-card11 {
    background-color: rgba(22,87,40,1);
    color:white;
    /*padding: 17px 22px;*/
    border-radius: 10px;
    letter-spacing: 1px;   
   }

   .main-card22 {
    background-color: rgba(219,219,219,1);

   }

   .main-card33 {
    background-color: rgba(251,255,222,1);

   }

   .main-card22, .main-card33 {
     color:black;
     /*padding: 17px 22px;*/
     border-radius: 10px;   
     letter-spacing: 1px;   
   }

   #brochures-main-menus {
    --bs-gutter-x: 0px;
   }

  .milestone-img-source {
    width: 100%;
    padding: 0px;
    height: 14.5vw;
    border-radius: 10px;
    filter: drop-shadow(-1px 0px 11px rgba(0, 0, 0, 0.161));
  }

@media only screen and (min-width: 768px) { 
   .main-card11, .main-card22, .main-card33 {
    width: 30%
   }

   .main-card11, .main-card22{
    margin-right: 5%;
   }
}

@media only screen and (min-width: 768px) { 
  .milestone-img {
    width: 30% !important;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .milestone-text {
    width: 47% !important;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-bottom: auto;
    margin-top: auto;
  }

  .milestone-block {
    width: 19%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    margin-top: 54px;
    margin-bottom: 35px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .milestone-circle {
    background-color: rgba(22,87,40,1);
    border-radius: 50%;
    font-weight: bolder;
    font-size: 23px;
    color: white;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  }

  .circle-text {
      position: absolute;
      top:32px;
      /*left:29px;*/
      width: 100%;
      height: inherit;
  }

  .circle-text1 {
      position: absolute;
      top:16px;
      /*left:29px;*/
      width: 100%;
      height: inherit;
  }

  .milestone-img-source {
/*    width: 100%;
    padding: 0px;
    height: 200px;
    border-radius: 10px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));*/
    width: 100%;
    padding: 0px;
    height: 210px;
    border-radius: 10px;
    filter: drop-shadow(-1px 0px 11px rgba(0, 0, 0, 0.161));
  }

  .custom-width {
    width: 32%;
  }

  .custom-margin-left {
    margin-left: 20%;
  }

}

.slider-text-group {
  
  /*left: 50% !important;*/
  /*top: 39% !important;*/
  /*transform: translate(-50%, -50%) !important;*/
  margin-left: -264px !important;
  left: unset !important;
  top: 40% !important;
}

.slider-text {
  /*left : 40%;*/
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
}


.collaboration-card-text {
  position: absolute;
  bottom: 0px;
  left: 8px;
  z-index: 4;
  height: 48px;
  background: #edededd4;
  color: black;
  border-radius: 5px;
  width: 95%;
  font-size: 20px;
}

.short-term-prospectus-main-card {
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.161));
  background: white;
  width: 100%;  
  border-radius: 10px;
}

.short-term-prospectus-main-card-title {
  background-color: rgba(22,87,40,1);
  border-radius: 5px;
  padding: 5px;
  padding-left:20px;
  height: 45px;
}

.short-term-prospectus-details ul li {
  list-style-type: disc;
  padding: 8px;
  margin-left: 18px;
  color:black;
  letter-spacing: 1px;
  width: 88%;
}

.short-term-prospectus-details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-brochures-details ul li {
   padding: 8px;
  margin-left: 18px;
  color:black;
  letter-spacing: 1px;
  width: 88%; 
}

.info-brochures-details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-col1-text {
  width: 20%;
  text-align: right;
  margin-bottom: 20px;
  color: black;
}

.info-brochures-details {
  color: black;
}

.info-brochures-details .row {
  margin-bottom: 10px !important;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgba(22,87,40,1);
}


.accordion-button:not(.collapsed)::after {
  background-image: url("../../uploads/images/down_fs%402x.png");
  /*transform: rotate(180deg);*/
  color: white;
}


.accordion-button::after {
  background-image: url("../../uploads/images/down_fs%402x.png");
  /*transform: rotate(180deg);*/
  color: white;
  transition: transform .2s ease-in-out;
}


.accordion-button {
  color: white;
  background-color: rgba(22,87,40,1);
}

.accordion-body {
  padding: 1.3rem 1.5rem;
}

.accordion-item {
  border: none;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.161))
}

#annual-reports .icon1 {
      /* background-image: url("open-book.png"); */
    position: absolute;
    /* top: 6px; */
    width: 68px;
    opacity: 0.14;
    top: 19%;
    /*left: 25%;*/
    left: 0px;
    right: 0px;
    margin: auto;
}

#annual-reports .year-text {
    position: absolute;
    margin-left: unset !important;
    margin-top: 22px;
    font-size: 16px;
    letter-spacing: 1px;
    left: 0;
    right: 0;
}

.Path_76 {
  fill: rgba(230,207,0,1);
}

.new-ribbon-icon {
    position: absolute;
    left: 0px;
    top: 8px;
    /* height: 56px; */
    width: 71px;
}

.new-ribbon-icon-text {
     position: absolute;
    left: 15px;
    color: black;
    font-size: 13px;
    top: 1px; 
}

#accordionPanelsStayOpenExample .accordion-item:first-of-type .accordion-button, #accordionPanelsStayOpenExample1 .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.accordion-item {
  border-radius: 8px !important;
}


#next_coll_1_bs {
  position: absolute;
  width: 46px;
  height: 25px;
  left: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}

#next_coll_1 {
  position: absolute;
  width: 46px;
  height: 25px;
  right: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}


#next_coll_2_bs {
  position: absolute;
  width: 46px;
  height: 25px;
  left: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}

#next_coll_2 {
  position: absolute;
  width: 46px;
  height: 25px;
  right: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}



#next_coll_3_bs {
  position: absolute;
  width: 46px;
  height: 25px;
  left: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}

#next_coll_3 {
  position: absolute;
  width: 46px;
  height: 25px;
  right: 22px;
  top: 66px;
  overflow: visible;
  cursor: pointer;
}



.coll-section {
  fill: rgba(255,255,255,1);
  /*filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.161));*/
  width: 90%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow: visible;
  /*background: rgba(241,245,242,1);*/
  border-radius: 5px;
  /*margin-left: 20px;*/
  /*padding-left: 10px;*/
  /*margin-right: 20px;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100px;
}


.coll-card-section {
  color: rgba(0,0,0,1);
  font-weight: bold;
  overflow: visible;
  font-family: Alegreya Sans;
  letter-spacing: 1px;
  text-align: center;
  /* margin-bottom: auto; */
  /*padding-top: 20px;*/
  width: 17%;
  /*display: inline-block;*/
  padding: 10px;
  background: white;
  filter: drop-shadow(4px 3px 12px rgba(0, 0, 0, 0.161));
  margin-left: 10px;
  margin-right: 10px;
  /*height: 100px;*/
}

.coll-card {
  /*filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.161));*/
  padding: 10px;
}

.coll-card-section.active {
  display: inline-block;
  opacity: 1;
}

.coll-card-section {
  display: none;
  opacity: 0;
}

div#usa-coll-cards {
  animation: marquee 10s linear infinite;
  /*width: 100%;*/
}

.coll-card-section {
  /*animation: marquee 40s linear infinite;*/
}

@keyframes marquee {
  /*0% { left: 0; }*/
  /*100% { left: -100%; }*/
  0% {  transform: translateX(-8%) }
  100% {  transform: translateX(-225.66%) }
}

div#usa-coll-cards:hover {
  animation-play-state: paused;
}



#pills-initiatives .main-card1 , .main-card2 , .main-card3
{
  background: rgba(231,237,233,1);
  color: rgba(22,87,40,1);
  padding: 16px;
  font-weight: bold;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
  position: relative;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  margin-bottom: 50px;
}

#pills-initiatives .card-text {
  font-size: 16px;
  color: black;
  font-weight: normal;
}

#pills-initiatives .explore-button {
  background: rgb(22 87 40 / 77%);
  color: white;
  padding:4px;
  /*border-radius: 10px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  width: 100%;
}


@media only screen and (min-width: 768px) { 
   .main-card1, .main-card2, .main-card3 {
    width: 30%
   }

   .main-card1, .main-card2{
    margin-right: 5%;
   }

}
.card-title {
  font-size: 18px;
}


@media only screen and (max-width: 992px) {

#left-brochure-nav-bar .nav-link {
  color: black !important;
}

#brochures-main-menus #pills-tab {
  display: block;
  text-align: center;
}

#brochures-main-menus .nav-link {
  margin-left: auto;
  margin-right: auto;
}

#brochures-main-menus .nav-item > .active {
  background: rgba(22,87,40,1) !important;
  color: white !important;
}

#brochures-main-menus {
    --bs-gutter-x: 1.5rem !important;
}

.img-container {
  padding-left: unset;
  padding-right: unset;
}

.main-card11 , .main-card22 , .main-card33 {
  margin-bottom: 50px;
}

#milestones-section + div {
  background: white !important;
  background-color: white !important;
}

.cards {
  margin-bottom: unset !important;
}

.milestone-block {
  position: relative;
  padding-left: unset;
  padding-right: unset;
}

.milestone-circle {
  background-color: rgba(22,87,40,1);
  border-radius: 50%;
  font-weight: bolder;
  font-size: 23px;
  color: white;
  height: 100px;
  width: 100px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.milestone-img {
  padding-left: unset;
  padding-right: unset;
}

  .milestone-text {
    font-size: 12px;
  }

  .custom-col-2 {
    width: 20%;
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .custom-col-1{
    width: 15%;
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;
  }

  .custom-col-8 {
    width: 60%;
    padding-left: unset;
    padding-right: unset;
  }

  .milestone-img {
    padding-left: unset;
    padding-right: unset;
  }

  .milestone-img img {
    border-radius: 2px !important;
  }

  .milestone-text {
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px !important;
  }

  #milestones-section + div {
    margin-bottom: unset !important;
  }

  .main-card1, .main-card3 {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px !important;
  }

  .three-cards-in-row {
    margin-top: unset !important;
    margin-bottom: unset !important;
  }

  .d-flex {
    display: block !important;
  }

  #v-pills-tab {
    width: 100% !important;
    margin-bottom: 40px;
  }
  #left-brochure-nav-bar { 
    margin-left: 10px;
    margin-right: 10px;
  }

  #left-brochure-nav-bar .row .col-sm-12 {
    padding-left: unset;
    padding-right: unset;
  }

  #left-brochure-nav-bar .active #next_arrow {
    top: 5px !important;
  }

  #v-pills-iqarc  .row .col-lg-2 {
    padding-left: unset;
    padding-right: unset;
    margin-left: unset;
    margin-bottom: 30px;
  }


  #v-pills-selfreports  .row .col-lg-2 {
    padding-left: unset;
    padding-right: unset;
    margin-left: unset;
    margin-bottom: 30px;
  }


  #brochures-main-menus .nav-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #brochures-main-menus {
    margin-top: 30px;
  }

  .grey-squares .icon1 {
    opacity: 0.4;
  }
  .accordion-body {
    padding: unset !important;
  }

  .green-squares, .grey-squares {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 30% !important;
    margin-bottom: 14px;
  }

  .annual-reports {
    margin-top: 40px !important;
  }

  .accordion-item {
    padding-bottom: 20px !important;
  }

}

  .annual-reports {
    margin-bottom: 20px !important;
  }

.three-cards-in-row {
  margin-top: 3px;
  /*margin-bottom: 60px;*/
}

@media only screen and (max-width:  576px) {

   .milestone-circle {
    width: 40px !important;
    height: 40px !important;
    margin-left: auto;
    margin-right: auto;
   }

   .circle-text {
    font-size: 10px !important;
    top: 12px !important;
   }

    .circle-text1{
      position: absolute;
      text-align: center;
      width: 100%;
      height: inherit;
      top: 4px !important;
      font-size: 10px !important;
  }

}
@media only screen and (max-width: 768px){
    .circle-text{
      position: absolute;
      text-align: center;
      width: 100%;
      height: inherit;
      top: 15px;
      font-size: 12px;
  }

    .circle-text1{
      position: absolute;
      text-align: center;
      width: 100%;
      height: inherit;
      top: 6px;
      font-size: 12px;
  }

  .milestone-circle {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }

}


 .main-card1 , .main-card2 , .main-card3
{
  background: rgba(231,237,233,1);
  color: rgba(22,87,40,1);
  padding: 16px;
  font-weight: bold;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.161));
  border-radius: 10px;
  position: relative;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  margin-bottom: 50px;
}

.card-desc1 {
  font-size: 16px;
  color: black;
  font-weight: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}



.explore-button {
  background: rgb(22 87 40 / 77%);
  color: white;
  padding:6px;
  /*border-radius: 10px;*/
  border-bottom-left-radius: 10px;:;
  border-bottom-right-radius: 10px;
  position: absolute;
  width: 100.5%;
  bottom: 0px;
  left: 0px;
}


@media only screen and (min-width: 768px) { 
   .main-card1, .main-card2, .main-card3 {
    width: 30%
   }

   .main-card1, .main-card2{
    /*margin-right: 5%;*/
   }
}
.card-title {
  font-size: 18px;
}
